@model MicroForum.Models.Home.HomeIndexModel



<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 text-center">
            <h1>Learn and Share</h1>
            <p class="lead">Join our community and start learning and sharing knowledge today.</p>
            <form asp-controller="Forum" asp-action="Search" method="Post" class="mb-4">
                <div class="input-group">
                    <input asp-for="SearchQuery" type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h2>Latest Posts</h2>
            <hr>
            <ul class="list-unstyled">
                @foreach (var post in Model.LatestPosts)
                {
                    <li>
                        <h3>
                            <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a>
                        </h3>
                        <p class="post-info">
                            @if (post.RepliesCount > 0)
                            {
                                <span>@post.RepliesCount replies</span>
                            }
                            else
                            {
                                <span>No replies</span>
                            }
                            <span class="postUser">
                                <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">@post.AuthorName</a>
                            </span>
                        </p>
                    </li>
                }
            </ul>
            <div class="text-right">
                <a asp-controller="Post" asp-action="List">See all posts</a>
            </div>
        </div>
    </div>
</div>
